<!DOCTYPE html>
{% load static %}
<html lang="en">
<head><title>Courses Offered</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href='{% static "signinsignup.css" %}'>
    <link rel="stylesheet" href='{% static "commonstyle.css" %}'>
    <style>
    </style>
    <title>Disha Learning</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<header>
    <div id="head">
        <ul>
            <li style="float:left"><img src='{% static "images/logo2.jpg" %}' alt="Logo 2"></li>


        </ul>

    </div>
</header>

<div id="menu">
    <ul style="background-color:limegreen">
        <li style="float:left"><a href="/">Home</a></li>
        <li style="float:left"><a href="/course">Courses</a></li>
        <li style="float:left"><a href="/gallery">Gallery</a></li>
        <li style="float:left"><a href="/faculty">Our Faculty</a></li>
        <li><a href="/quizportal">Quiz Portal</a></li>
        <li style="border-left:2px solid white"><a href="/contact">Contact Us</a></li>

    </ul>
</div>
<div class='nothead'>
    <div class="w3-row-padding w3-center w3-margin-top">
        <div class="w3-third">
            <div id="physics" class="w3-card w3-container w3-white" style="min-height:460px"
            >
                <h3>Physics</h3><br>
                <img src="" alt="generic physics picture">
            </div>
        </div>

        <div class="w3-third">
            <div class="w3-card w3-container w3-white" style="min-height:460px"
            >
                <h3>Mathematics</h3><br>
                <img src="" alt="generic mathematics picture">
            </div>
        </div>
        <div class="w3-third">
            <div class="w3-card w3-container w3-white" style="min-height:460px"
            >
                <h3>Science</h3><br>
                <img src="" alt="generic science picture">
            </div>
        </div>
    </div>
</body>
</html>
